body {
    margin: 0px;
    padding: 2px;
}

ul {
    margin: 0px;
    padding: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

ul li {
    margin: 0px;
    padding: 0px;
    height: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
    list-style: none;
    overflow-x: hidden;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #F1F1F1;
}

ul li:last-child {
    border-bottom-style: none;
    border-bottom-width: 0px;
}

ul li a {
    margin: 0px;
    padding: 0px;
    padding-left: 2px;
    padding-right: 2px;
    width: 100%;;
    display: block;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: sans-serif;
}

#container {
    height: 100%;
    width: 100%;
    max-width: 360px;
    min-width: 260px;
    background-color: #FFF;
}

#clipboard-container {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 0px;
  height: 0px;
  z-index: 100;
  display: none;
  opacity: 0;
}

#clipboard {
  width: 1px;
  height: 1px;
  padding: 0px;
}
