body {
    margin: 0px;
    padding: 0px;
    padding-top: 34px;
    background-color: white;
}

ul {
    margin: 0px;
    padding: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

ul li {
    margin: 0px;
    padding: 0px;
    height: 20px;
    list-style: none;
    overflow-x: hidden;
    border-bottom: 1px #F1F1F1 solid;
}

ul li:last-child {
    border-bottom-style: none;
    border-bottom-width: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

ul li a img {
    width: 16px;
    height: 16px;
    margin: 0px;
    margin-left: 5px;
}

.tab_list_item_li {
    height: auto;
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease;
    box-sizing: border-box;
}

.tab_list_item_li:hover {
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease;
    background-color: #f8f8f8;
}

.tab_list_item_a {
    display: block;
    background-position: 0 center;
    background-size: 16px;
    background-repeat: no-repeat;
    padding: 10px 0 10px 22px;
    width: 220px;
    line-height: 20px;
    font-size: 12px;
    color: #444;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: " ...";
    font-family: sans-serif;
}

.tab_list_item_a:hover {
    color: black;
}

.tab_item_menu {
    padding: 10px 0;
}

.tab_list_item_img_nobg {
    margin-left: 20px;
    cursor: pointer;
    height: 20px;
    vertical-align: middle;
}

.copy_item {
    height: 16px;
}

#container {
    height: 100%;
    width: 360px;
    max-width: 360px;
    min-width: 360px;
    padding: 0px;
    margin: 0px;
    overflow-y: hidden;
}

#clipboard-container {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 0px;
    z-index: 100;
    display: none;
    opacity: 0;
}

#clipboard {
    width: 1px;
    height: 1px;
    padding: 0px;
}

#tab_list {
    width: 100%;
    box-sizing: border-box;
}

#empty_list_container {
    width: 100%;
    height: 100px;
    padding: 0px 20px;
    margin: 0px;
    justify-content: space-between;
}

.empty_list_icon {
    height: 45px;
    float: right;
}

.empty_list_text {
    line-height: 32px;
    color: #444;
    font-size: 1.3em;
    margin: 0;
}

#tab_list_header_container {
    width: 100%;
    height: 32px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin: 0px;
    top: 0;
    border-bottom: 1px solid #F1F1F1;
}

.tab_list_btn {
    height: 32px;
    padding: 0px;
    cursor: pointer;
    background-size: 20px;
    background-position: 0 center;
    background-repeat: no-repeat;
    padding-left: 25px;
    font-size: 12px;
    background-color: transparent;
    font-weight: bold;
    border: none;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease;
}

.tab_list_btn:hover {
    background-color: #f8f8f8;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease;
}

#tab_list_open {
    background-image: url(icons/open_all.png);
    color: #66bb6a;
}

#tab_list_clear {
    background-image: url(icons/clear_all.png);
    color: #00796B;
}

#tab_list_copy {
    background-image: url(icons/copy_url.png);
    color: #ccc;
    display: none;
}